{% block body %}
    <a onclick="javascript:ttgUlUpdateStates('ttgAnUlBody{{ playerHtmlId }}', '{{ playerHtmlId }}', 1500)"
       class="btn btn-primary active btn-group"
       title="{{ "Update States" | trans }}">
        <span class="glyphicon glyphicon-refresh"></span> </a>
{% endblock %}