{% block body %}
    <a onclick="javascript:ttgRecenterPlayhead('progressBarRange', '{{ playerHtmlId }}', 0)"
       class="btn btn-primary active btn-group"
       title="{{ "Recenter Playhead" | trans }}">
        <span class="glyphicon glyphicon-magnet"></span> </a>
{% endblock %}