{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-5">List of Users</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
