{% block body %}
    <a onclick="javascript:ttgCreateNewAnnot('ttgAnUlBody{{ playerHtmlId }}', '{{ playerHtmlId }}')"
       class="btn btn-primary active btn-group"
       title="{{ "Create new Line from playhead" | trans }}">
        <span class="glyphicon glyphicon-plus-sign"></span> </a>
{% endblock %}