{% block body %}
    <a onclick="javascript:ttgAnnotUlRecenter('ttgAnUlBody{{ playerHtmlId }}', '{{ playerHtmlId }}', 0)"
       class="btn btn-primary active btn-group"
       title="{{ "Scroll to Playhead" | trans }}">
        <span class="glyphicon glyphicon-magnet"></span> </a>
{% endblock %}